#homebg {
  position: fixed;   
  top: 0;
  left: 0;
  width: 100vw;       
  height: 100vh;      
  object-fit: cover;  
  z-index: -1;        
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #FFCB05;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #3466AF;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: #FF0000;
  transition: 0.5s;

}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3466AF;
  color: #FFCB05;

}

.navlogo img {
    height: 12px;
    width: auto;
}
