body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#homebg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.topnav {
  background-color: #FFCB05;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #3466AF;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: #FF0000;
  transition: 0.5s;

}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3466AF;
  color: #FFCB05;

}

.navlogo img {
    height: 12px;
    width: auto;
}

.inventory-content {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    color: #3466AF;
}

.inventory-content h1 {
    text-align: center;
    color: #3466AF;
}